{% extends 'base.html' %}
{% block content %}

  <div class="container_12 content">
      <div class="grid_12 alpha omega"> 
                  
          <img border=0 src="/static/dojo400.png" style="margin:1.5em" width="400" height="141" />
          <h2><b>FIBER Internet has arrived!</b>  Members, login below to gain full access to your new connection.  Guests may have unlimited free usage of our slower connection.</h2>
          
      </div> 

      <br>
      
      <div class="grid_6 alpha "> 
          
          <div style="margin:4em">
            <center>
              <img border=0 src="/static/speed4.png" width="350" height="280"/>
              <p style="font-size:12px"><b>Fig. 1.</b> Members get full <b>100Mbps</b> fiber Internet.</p>
            </center>
          </div>
          
      </div> 
      
       <div class="grid_5  omega"> 
      
         
         <div style="margin-top:1.5em">
           <h3>Guests</h3>
            <p>Guests are also welcome to our <a href="/guest?mac={{mac|urlencode}}&redirect={{redirect|urlencode}}">slower free connection</a>.</p>
            
           <h3>Day Pass</h3>
           <p>Guests may <a href="/donate?mac={{mac|urlencode}}&redirect={{redirect|urlencode}}">donate $10</a> for a day pass.</p>
             
           <h3>Members</h3>
           <form method="post" action="/member" class="memberlogin">
           
              {% if error %}<p style="color: red; font-size: smaller; font-weight:bold">{{error|escape}}</p>{% endif %}
              <table cellpadding=0 cellspacing=1 border="0" width="100%">
                <tr><td class="label">Username:</td><td width="100%"><input class="textbox homeinput" name="username" type="text" placeholder="ex: joe.smith" /></td></tr>
                <tr><td class="label">Password:</td><td width="100%"><input class="textbox homeinput" name="password" type="password" /></td></tr>
                {% if captcha_url %}
                <tr><td class="label" valign="top">Captcha:</td><td width="100%"><input class="textbox homeinput" name="captcha_response" type="text" /><br /><img src="{{captcha_url}}" /></td></tr>
                <input type="hidden" name="captcha_token" value="{{captcha_token}}" />
                {% endif %}
              </table>
              <input type="hidden" name="redirect" value="{{redirect}}" />
              <input type="hidden" name="mac" value="{{mac}}" />
              <div style="text-align: center; margin-top: 8px;"><input name="accept" type="submit" value="Login" /></div>
            </form>
          </div>
          
          <p class="note"> Members: We'll remember your MAC address, so you shouldn't see this screen again.</p>
          
          <br/>

          
        </div> 
  
    <div class="clearfix">&nbsp;</div>
        <div class="grid_12"> 
          

          
      </div> 
    
  <div class="clearfix">&nbsp;</div>
  </div> 
 
{% endblock %}