<html>
  <head>
    <title>Hacker Dojo Internet Access</title>
    <link href="/static/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <img src="/static/dojo_icon.png" style="float: left; " />
        <h1>Hacker Dojo</h1>
        <h2>Internet Access</h2>
      </div>
      <div id="content">
        
        <div id="member">
          <h3>Member Access</h3>
          {% if error %}<span style="color: red; font-size: smaller;">{{error}}</span>{% endif %}
          <form method="post" action="/member">
            <table>
              <tr><td class="label">Username:</td><td><input name="username" type="text" /></td></tr>
              <tr><td class="label"> </td>
                <td class="note" style="text-align:right;">@hackerdojo.com</td></tr>
              <tr><td class="label">Password:</td><td><input name="password" type="password" /></td></tr>
            </table>
            <input type="hidden" name="redirect" value="{{redirect}}" />
            <input type="hidden" name="mac" value="{{mac}}" />
            <div style="text-align: center; margin-bottom: 10px;"><input name="accept" type="submit" value="Continue as Member &rarr;" /></div>
          </form>
          <div class="note">We'll remember your MAC address, so you shouldn't see this screen again.</div>
        </div>
        
        <div id="guest">
          <h2>Welcome to Hacker Dojo!</h2>
          <p class="notice">This captive portal is a beta version of what will be on our new fiber connection coming in early 2011. This will allow us to easily provide unlimited access to members, throttled access to guests, and perhaps even eliminate the sign-in kiosk.<br /><br />
            Email <a href="mailto:internet@hackerdojo.com">internet@hackerdojo.com</a> for questions or feedback.</p>
          <form method="post" action="/guest" style="text-align: center;">
            <input type="hidden" name="redirect" value="{{redirect}}" />
            <input type="hidden" name="mac" value="{{mac}}" />
            <input name="accept" type="submit" value="Continue as Guest &rarr;" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
